# VAZIFA :Kaggle dan dataset olish Missing value va encoding ni loop orqali xal qilish

In [52]:
import pandas as pd
df = pd.read_csv(r'D:\2025 lessons\AI+ML course amaliyot\Datasets\penguins.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [41]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female

# Missing value

In [53]:
for index in df.columns[df.isnull().any()]:
    if df[index].dtypes =='object':
        df[index] = df[index].fillna(df[index].mode()[0])
    else: 
        df[index] = df[index].fillna(df[index].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

# Encoding

In [ ]:
for index in df.columns.to_list():
    if df[index].dtypes == 'object':
       df =  pd.get_dummies(df,columns=None, dtype=int)  # ! One hot encoding
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bill_length_mm     344 non-null    float64
 1   bill_depth_mm      344 non-null    float64
 2   flipper_length_mm  344 non-null    float64
 3   body_mass_g        344 non-null    float64
 4   species_Adelie     344 non-null    int64
 5   species_Chinstrap  344 non-null    int64
 6   species_Gentoo     344 non-null    int64
 7   island_Biscoe      344 non-null    int64
 8   island_Dream       344 non-null    int64
 9   island_Torgersen   344 non-null    int64
 10  sex_female         344 non-null    int64
 11  sex_male           344 non-null    int64
dtypes: float64(4), int64(8)
memory usage: 32.4 KB

# Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler