In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'D:\2025 lessons\AI+ML course amaliyot\Datasets\Car features and MSRP\data.csv')
df.info()        # target value is MSRP = Manufacturer's Suggested Retail Price

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [38]:
import klib    
df = klib.data_cleaning(df)    # ! klib bilan data cleaning qilindi
df.info()

Shape of cleaned data: (11199, 16) - Remaining NAs: 3484


Dropped rows: 715
     of which 715 duplicates. (Rows (first 150 shown): [14, 18, 20, 24, 25, 88, 92, 94, 109, 126, 137, 141, 252, 413, 414, 431, 432, 435, 436, 677, 741, 742, 753, 775, 778, 783, 787, 788, 789, 901, 903, 913, 916, 919, 987, 988, 1283, 1470, 1755, 1756, 1757, 1758, 1759, 1761, 1762, 1763, 1764, 1768, 1770, 1773, 1775, 1776, 1802, 1804, 1806, 1807, 1810, 1811, 1812, 1813, 1816, 1818, 1819, 1820, 1830, 1837, 1841, 1842, 1844, 1845, 1847, 1848, 1851, 1853, 1856, 1857, 1858, 1859, 1860, 1865, 1871, 1872, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1888, 1889, 1890, 1899, 1905, 1908, 1909, 1911, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1924, 1925, 1926, 1928, 1929, 1936, 1939, 1940, 1942, 1944, 1945, 1946, 1947, 1948, 2019, 2021, 2024, 2026, 2027, 2028, 2029, 2030, 2043, 2118, 2124, 2125, 2127, 2245, 2252, 2262, 2313, 2397, 2400, 2401, 2402, 2403, 2409, 2410, 2412, 2413, 2415, 2416, 2417, 2418, 2420, 2422])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 366
Reduced memory by at least: 1.03 MB (-71.03%)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11199 entries, 0 to 11198
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11199 non-null  category
 1   model              11199 non-null  string
 2   year               11199 non-null  int16
 3   engine_fuel_type   11196 non-null  category
 4   engine_hp          11130 non-null  float32
 5   engine_cylinders   11169 non-null  float32
 6   transmission_type  11199 non-null  category
 7   driven_wheels      11199 non-null  category
 8   number_of_doors    11193 non-null  float32
 9   market_category    7823 non-null   category
 10  vehicle_size       11199 non-null  category
 11  vehicle_style      11199 non-null  category
 12  highway_mpg        11199 non-null  int16
 13  city_mpg           11199 non-null  int16
 14  popularity         11199 non-null  int16
 15  msrp               11199 non-null  int32
dtypes: category(7), float32(3), int16(4), int32(1), string(1)
memory usage: 432.3 KB

# Missing value

In [39]:
df.isnull().sum()

make                    0
model                   0
year                    0
engine_fuel_type        3
engine_hp              69
engine_cylinders       30
transmission_type       0
driven_wheels           0
number_of_doors         6
market_category      3376
vehicle_size            0
vehicle_style           0
highway_mpg             0
city_mpg                0
popularity              0
msrp                    0
dtype: int64

In [ ]:
# category_col = df.select_dtypes(include=['category']).columns

# Feature engeering - Make new feature

In [40]:
df['year'].value_counts()

year
2016    2073
2015    2065
2017    1625
2014     554
2009     364
2012     351
2007     334
2013     325
2008     322
2011     284
2010     281
2003     238
2004     235
2005     213
2002     205
2006     194
2001     168
1997     166
1993     160
1998     145
1994     129
1992     127
1995     117
1996     115
2000     115
1999     114
1991     103
1990      77
Name: count, dtype: int64

In [ ]:
for year in df['year']:                 # ! Mashina ishlab chiqarilgan yilga ko'ra df['Age'] yangi feature yasaldi
    age  = 2025 - year
    if age <10:
        df["age"] = 'New'
    elif 10<=age<20:
        df["age"] = 'Old'
    else:
        df["age"] = 'Very old'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11199 entries, 0 to 11198
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11199 non-null  category
 1   model              11199 non-null  string
 2   year               11199 non-null  int16
 3   engine_fuel_type   11196 non-null  category
 4   engine_hp          11130 non-null  float32
 5   engine_cylinders   11169 non-null  float32
 6   transmission_type  11199 non-null  category
 7   driven_wheels      11199 non-null  category
 8   number_of_doors    11193 non-null  float32
 9   market_category    7823 non-null   category
 10  vehicle_size       11199 non-null  category
 11  vehicle_style      11199 non-null  category
 12  highway_mpg        11199 non-null  int16
 13  city_mpg           11199 non-null  int16
 14  popularity         11199 non-null  int16
 15  msrp               11199 non-null  int32
 16  age                11199 non-null  object
dtypes: category(7), float32(3), int16(4), int32(1), object(1), string(1)
memory usage: 519.8+ KB

In [43]:
df.columns[df.isnull().any()]    #! missing value bor column ni ushlaydi

Index(['engine_fuel_type', 'engine_hp', 'engine_cylinders', 'number_of_doors',
       'market_category'],
      dtype='object')

In [44]:
from scipy.stats import skew        # * importing skewness

# Checking skewness of numeric values

In [45]:
numeric_cols = df.select_dtypes(include=['float32', 'int16', 'int32']).columns
df[numeric_cols].skew()

year               -1.260226
engine_hp           1.246477
engine_cylinders    0.937006
number_of_doors    -1.018905
highway_mpg         7.759682
city_mpg            7.093660
popularity          1.628305
dtype: float64

In [46]:
for col in df.columns[df.isnull().any()]:         
    if df[col].dtypes == 'category':
        df[col] = df[col].fillna(df[col].mode()[0])    # ! 'category' type mode()[0] orqali filling qilindi
    else:
        skewness = df[col].skew()
        if  1< skewness < -1 :
            df[col] = df[col].fillna(df[col].median())  # ! skewed data median() orqali fill qilindi     
        else:
            df[col] = df[col].fillna(df[col].mean())     # ! normal data mean() orqali fill qilindi
df.isnull().sum()

make                 0
model                0
year                 0
engine_fuel_type     0
engine_hp            0
engine_cylinders     0
transmission_type    0
driven_wheels        0
number_of_doors      0
market_category      0
vehicle_size         0
vehicle_style        0
highway_mpg          0
city_mpg             0
popularity           0
msrp                 0
age                  0
dtype: int64

In [47]:
# skewness>0.5    log(square root)
# skewness<-0.5 power
# Skewness=0

for col in numeric_cols:
   
    if df[col].skew() >0.5:                     
        df[f'logged {col}'] = np.log1p(df[col])       # !   do logarifm(1+x) when skewness > 0.5 
        df.drop(columns={col}, inplace=True)          # !  dropping logged column
    elif df[col].skew() < -0.5: 
        df[f'powered {col}'] = np.power(df[col],2)    # !   do power x2 when skewness <- 0.5 
        df.drop(columns={col}, inplace=True)          # !  dropping powered column
       
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11199 entries, 0 to 11198
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make                     11199 non-null  category
 1   model                    11199 non-null  string
 2   engine_fuel_type         11199 non-null  category
 3   transmission_type        11199 non-null  category
 4   driven_wheels            11199 non-null  category
 5   market_category          11199 non-null  category
 6   vehicle_size             11199 non-null  category
 7   vehicle_style            11199 non-null  category
 8   msrp                     11199 non-null  int32
 9   age                      11199 non-null  object
 10  powered year             11199 non-null  int16
 11  logged engine_hp         11199 non-null  float32
 12  logged engine_cylinders  11199 non-null  float32
 13  powered number_of_doors  11199 non-null  float32
 14  logged highway_mpg       11199 non-null  float32
 15  logged city_mpg          11199 non-null  float32
 16  logged popularity        11199 non-null  float32
dtypes: category(7), float32(6), int16(1), int32(1), object(1), string(1)
memory usage: 585.4+ KB

In [48]:
numeric_cols = df.select_dtypes(include=['float32', 'int16', 'int32']).columns
df[numeric_cols].skew()           # ! checking skewness after transformation

powered year               0.083177
logged engine_hp           0.026671
logged engine_cylinders   -1.094833
powered number_of_doors   -0.996388
logged highway_mpg         0.895898
logged city_mpg            1.609000
logged popularity         -0.747735
dtype: float64

# Feature Engineering   - Encoding

In [49]:
from sklearn.preprocessing import LabelEncoder
for col in df.columns:
    if col not in numeric_cols:
        df[col] = LabelEncoder().fit_transform(df[col])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11199 entries, 0 to 11198
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make                     11199 non-null  int64
 1   model                    11199 non-null  int64
 2   engine_fuel_type         11199 non-null  int64
 3   transmission_type        11199 non-null  int64
 4   driven_wheels            11199 non-null  int64
 5   market_category          11199 non-null  int64
 6   vehicle_size             11199 non-null  int64
 7   vehicle_style            11199 non-null  int64
 8   msrp                     11199 non-null  int64
 9   age                      11199 non-null  int64
 10  powered year             11199 non-null  int16
 11  logged engine_hp         11199 non-null  float32
 12  logged engine_cylinders  11199 non-null  float32
 13  powered number_of_doors  11199 non-null  float32
 14  logged highway_mpg       11199 non-null  float32
 15  logged city_mpg          11199 non-null  float32
 16  logged popularity        11199 non-null  float32
dtypes: float32(6), int16(1), int64(10)
memory usage: 1.1 MB