In [19]:
import pandas as pd
from sklearn.feature_selection import mutual_info_regression

df = pd.read_csv(r'D:\2025 lessons\AI+ML course amaliyot\Datasets\Salary_dataset.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 852.0 bytes

In [18]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [ ]:
x = df.drop(columns="Salary")
y = df['Salary']


def a(x,y):
    mi = mutual_info_regression(x,y)
    mi_df = pd.DataFrame({
        'Feature': x.columns,
        'MI Score': mi
        }).sort_values(by='MI Score', ascending=False)
    print(mi_df)
a(x,y)

           Feature  MI Score
0       Unnamed: 0  1.267090
1  YearsExperience  1.235953