In [5]:
import pandas as pd
df = pd.read_csv(r'D:\2025 lessons\AI+ML course amaliyot\Datasets\Food_Preference.csv')
# from sklearn.preprocessing import

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       288 non-null    object
 1   Participant_ID  288 non-null    object
 2   Gender          284 non-null    object
 3   Nationality     288 non-null    object
 4   Age             288 non-null    int64
 5   Food            288 non-null    object
 6   Juice           288 non-null    object
 7   Dessert         288 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.1+ KB

In [7]:
# for col in df.columns:
#     if df[col].dtype == 'int64':
#         df[col][]

In [8]:
df.drop(columns=['Timestamp', 'Participant_ID'], inplace=True)

In [9]:
df.head()

   Gender Nationality  Age              Food              Juice Dessert
0    Male      Indian   24  Traditional food        Fresh Juice   Maybe
1  Female      Indian   22      Western Food  Carbonated drinks     Yes
2    Male      Indian   31      Western Food        Fresh Juice   Maybe
3  Female      Indian   25  Traditional food        Fresh Juice   Maybe
4    Male      Indian   27  Traditional food        Fresh Juice   Maybe

# Find mutual information with function

$$
I(X;Y)=x∈X∑​y∈Y∑​p(x,y)⋅log2​(p(x,y)/p(x)p(y))
$$

 1. Joint Probability

This is the probability of two things happening together
$$
p(x,y)=Count of (x, y)/Total number of observation
$$


2. Marginal Probability

This is the probability of just one variable, regardless of the other.

For XX:
$$
p(x)=∑yp(x,y)
p(x)=y∑​p(x,y)
$$
For YY:
$$
p(y)=∑xp(x,y)
p(y)=x∑​p
$$

In [ ]:
pd.crosstab(df['Gender'],df['Dessert'],)  # ! pd.crosstab joint probability ni kursatadi

Dessert  Maybe  No  Yes
Gender
Female      72  35   58
Male        50  17   52

In [16]:
from collections import Counter

x = df['Gender'].to_list()
y = df['Dessert'].to_list()
x_counted = Counter(x)
y_counted = Counter(y)
x_counted

Counter({'Female': 165, 'Male': 119, nan: 4})

In [17]:
y_counted

Counter({'Maybe': 122, 'Yes': 114, 'No': 52})

In [ ]:
female_mpv = round(165/288,2)   # * mpv - marginal p value
female_mpv

0.57

In [24]:
male_mpv = round(123/288,2)
male_mpv

0.43