VAZIFA :
1. Tuple ga oid masal yechish
2. MSE va R2 ga misollar tuzish
3. Kaggle dan loyiha olish + Dataset(Regression)
4. Report

In [10]:
import pandas as pd
import numpy as np

In [11]:
df  =pd.read_csv(r'D:\2025 lessons\AI+ML course amaliyot\Datasets\car price USA\audi.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB

In [12]:
df.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [13]:
df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [14]:
from  sklearn.preprocessing import LabelEncoder, OneHotEncoder
from category_encoders import TargetEncoder

In [15]:
# df['model_encoded'] = df['model'].map(df['model'].value_counts())

In [22]:
x= df[['model']]
y = df['price']

In [23]:
df['model'] = TargetEncoder.fit(x,y)

AttributeError: 'DataFrame' object has no attribute '_check_fit_inputs'